:root {
	--color-dark: #1E1E1E;
	--color-white: #FFFFFF;
	--color-pink: #EE10B0;
  --color-purple: #412C3A;
	--color-blue: #0E9EEF;
}

html {
	box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button, input {
	font: inherit;
}

img {
	max-width: 100%;
	height: auto;
}

a {
text-decoration: none;
color: inherit;
cursor: pointer;
}

button {
	cursor: pointer;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

body {
	min-width: 320px;
	margin: 0;
	background: var(--color-purple);
	font-family: "Vazirmatn", sans-serif;
	font-size: 16px;
	color: var(--color-white);
	line-height: 32px;
	text-align: left;
}

.wrapper {
  display: flex;
}

.container {
  max-width: 1132px;
  margin: 0 auto;
}

.content {
	padding-top: 62px;
	/*потом убрать только для сравнения*/
	padding-right: 72px; 
}

.btn {
	width: 120px;
	height: 38px;
	border-radius: 10px;
	font-size: 20px;
	line-height: 31.3px;
	font-weight: 600;
}

/*header*/
.header {
	max-width: 266px;
	padding: 50px 22px 50px 26px;
  background-color: #0E1920;
}

.header-heading {
	margin-bottom: 19px;
  background: linear-gradient(to right, #EE10B0, #0E9EEF); 
  -webkit-background-clip: text;
  color: transparent;
  font-size: 40px;
  line-height: 63px;
  font-weight: 800;
}

.nav-heading {
	margin-bottom: 19px;
	font-size: 20px;
	line-height: 31px;
	font-weight: 400;
	color: var(--color-pink);
}

.header-nav-item {
	width: 226px;
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 38px;
	font-weight: 600;
}

/* Navigation for body */

.nav-main {
	margin-bottom: 62px;
	display: flex;
	justify-content: space-between;
}

.input-search{
	width: 360px;
	padding: 6px 25px 0 38px;
	background-color: #656565;
	border-radius: 10px;
	border: transparent;
	background-image: url(/static/img/svg/inputSerch.png);
	background-repeat: no-repeat;
	background-position: 8px center;
}

::placeholder {
	color: rgba(255, 255, 255, .6);
}

.nav-main-list {
	display: flex;
	width: 340px;
	justify-content: space-between;
}

.nav-main-link {
	font-size: 24px;
	line-height: 37.5px;
	font-weight: 600;
}


.button-login {
	margin-right: 14px;
	background-color: var(--color-dark);
	color: var(--color-pink);
	border: 1px solid var(--color-dark);
}

.button-signUp {
	background-color: var(--color-pink);
	color: var(--color-dark);
	/* border: 1px solid var(--color-white); */
	border: transparent;
}

/* Hero */

.section-hero {
	margin-bottom: 40px;
}

.hero-slider {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.hero-slides {
  display: flex;
	height: 344px;
	text-align: center;
}

.hero-slide {
  flex: 0 0 100%;
  width: 100%;
}

.btn-slide {
  position: absolute;
  top: 48%;
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--color-dark);
	border-radius: 50%;
	border: none;
  transform: translateY(-50%);
  z-index: 1;
}

.slide-prev {
  left: 0;
}

.slide-next {
  right: 0;
}
